<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	 
	# Adaptive-Images -----
	
	# Add any directories you wish to omit from the Adaptive-Images process on a new line, as follows:
	# RewriteCond %{REQUEST_URI} !some-directory
	# RewriteCond %{REQUEST_URI} !another-directory
	
	# Send any GIF, JPG, or PNG request that IS NOT stored inside one of the above directories
	# to adaptive-images.php so we can select appropriately sized versions
	RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php
	
	# END Adaptive-Images ----- 
	 
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	
	RewriteRule ^attractions$ ./attractions.php 
	RewriteRule ^dining$ ./dining.php
	RewriteRule ^directions$ ./directions.php
	RewriteRule ^rooms$ ./rooms.php
	RewriteRule ^secretbeach$ ./secretbeach.php
</IfModule>